/* Задаємо фоновий колір */
body {
  background-color: #3d3254;
}

/* Стилі для карток покемонів */
.pokemon-card {
  background-color: #2b213d;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 20px;
}

.pokemon-card img {
  max-width: 100%;
  border-radius: 10px;
}

.pokemon-card h1 {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pokemon-card div {
  margin-top: 10px;
}

/* Стилі для пошукового блоку */
.search-container {
  background-color: #574b6d;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  width: 300px;
}

.search-container input[type="text"]::placeholder {
  color: #ccc;
}

.search-container .buttons-container {
  display: inline-block;
  margin-right: 20px;
}

.search-container .buttons-container button {
  background-color: #574b6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-container .buttons-container button:hover {
  background-color: #7f6b96;
}

.search-container .checkboxes-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}

.search-container .checkboxes-container input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.search-container .checkboxes-container input[type="checkbox"]:checked + span {
  background-color: #fff;
  color: #574b6d;
}

.search-container .checkboxes-container span {
  display: inline-block;
  background-color: #574b6d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-container .checkboxes-container span:hover {
  background-color: #7f6b96;
}

/* Стилі для контейнера покемонів */
.pokemon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.checkboxes-container {
  margin-top: 1%;
  padding-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
}

/* Стилі для міток (лейблів) чекбоксів */
label {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Стилі для незазначених чекбоксів */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Стилі для зовнішнього вигляду незазначених чекбоксів */
label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

/* Стилі для зовнішнього вигляду натиснутих чекбоксів */
input[type="checkbox"]:checked + label:before {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

/* Анімація для зовнішнього вигляду незазначених чекбоксів */
label:before {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

/* Анімація для зовнішнього вигляду натиснутих чекбоксів */
input[type="checkbox"]:checked + label:before {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

/* Анімація для зовнішнього вигляду натиснутих чекбоксів при наведенні */
input[type="checkbox"]:checked + label:before:hover {
  transform: scale(1.1);
}

/* Анімація для зовнішнього вигляду незазначених чекбоксів при наведенні */
label:before:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}