/* Задаємо фоновий колір */
body {
  background-color: #3d3254;
}

/* Стилі для карток покемонів */
.pokemon-card {
  background-color: #2b213d;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 20px;
}

.pokemon-card img {
  max-width: 100%;
  border-radius: 10px;
}

.pokemon-card h1 {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pokemon-card div {
  margin-top: 10px;
}


/* Стилі для міток (лейблів) чекбоксів */
label {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Стилі для незазначених чекбоксів */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.search-container {
  background-color: #574b6d;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  width: 300px;
}

.search-container input[type="text"]::placeholder {
  color: #ccc;
}

.search-container .buttons-container {
  display: inline-block;
  margin-right: 20px;
}


button {
  background-color: #574b6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #7f6b96;
}

.search-container .checkboxes-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}

.search-container .checkboxes-container input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.search-container .checkboxes-container input[type="checkbox"]:checked + span {
  background-color: #fff;
  color: #574b6d;
}

.search-container .checkboxes-container span {
  display: inline-block;
  background-color: #574b6d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-container .checkboxes-container span:hover {
  background-color: #7f6b96;
}
.checkboxes-container {
  margin-top: 1%;
  padding-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
}
label {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
